::-webkit-scrollbar {
  display: none;
}

html{
  scroll-behavior: smooth;
}


* {
  margin: 0%;
  padding: 0%;
}

:root {
  --color--primario: ;
}

body {
  background: #121212;
  overflow-x: hidden;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1.2fr repeat(2, 1fr) 0.3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .d1 { grid-area: 1 / 1 / 2 / 2; }
  .d2 { grid-area: 2 / 1 / 3 / 2; }
  .d3 { grid-area: 3 / 1 / 4 / 2; }
  .d4 { grid-area: 4 / 1 / 5 / 2; }
  .d5 { grid-area: 5 / 1 / 6 / 2; }

/*inicio estilo banner*/

.banner-area{
  top: 0%;
  width:100%;
  height:100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(/imagenes/fondo-t.webp);
  background-size:cover;
}        

.content-area{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.content{
  text-align: center;
}

.content h1{
  font-size:80px;
  color:#fff;
}

.content p{
  font-size:30px;
  color:#ddd;
}


.btn{
  border:none;
  outline:none;
  padding:15px;
  margin-top:100px;
  border-radius: 4px;
  color:#eee;
  font-size: 18px;
  cursor: pointer;    
  background:#222;             
}

#arriba{
  position: relative;
  left: 41%;
  margin: 5%;
}

.btn:hover{
  transform: scale(1.2);
  transition: 1s;
  color: white;
  background: #5DAC4E;
}

/* main area */

.container {
  width: 70%;
  margin: 50px auto;
  padding: 10px;
}

.container .box {
  width: 100%;
  padding: 50px;
  background: #fff;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, .1);
}
/*fin estilo banner */


/* estilo de barra de navegacion de index */

.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: px;
  background: #232323;
  color: #cdcdcd;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.menu-logo {
  line-height: 0;
  margin: 0 20px;
}

.menu-logo img {
  max-height: 40px;
  max-width: 100px;
  flex-shrink: 0;
}

.menu-container a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.menu-container a:hover {
  color: #5DAC4E;
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(3px, -1px);
  background: #232323;
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px, 11px);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

/* mobile styles */
@media only screen and (max-width: 999px) {
  .menu-container {
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-logo img {
    max-height: 30px;
  }

  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    right: -300px;
    top: 0;
    margin: -20px;
    padding: 75px 50px 50px;
    background: #cdcdcd;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(-100%);
  }
}

/* desktop styles */
@media only screen and (min-width: 1000px) {
  .menu-container {
    width: 100%;
  }

  .menu-container a {
    color: #cdcdcd;
  }

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }
}

/* fin del estilo de la barra de navegacion */

/*estilo de slider*/
.visuallyhidden {
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0;
}

.container {
  overflow: hidden;
  padding: 20px;
  margin-top: 2em;
  background: #121212;
}

.card-carousel {background: #121212;
  --card-width: 80%;
  --card-max-width: 480px;
  --card-height: 450px;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter 0.3s ease;
}

@media screen and (max-width: 640px) {
  .card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2);
  }
}

.card-carousel.smooth-return {
  transition: all 0.2s ease;
}

.card-carousel .card {
  font-size: 1.3em;
  background: #232323;
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 1em;
  min-width: 250px;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  color: white;
  transition: inherit;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  filter: brightness(0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.2px solid #5DAC4E;
}

.card.highlight {
  filter: brightness(1);
}

.card:nth-of-type(1) .image-container {
  background-image: url("https://static.addtoany.com/images/dracaena-cinnabari.jpg");
}

.card:nth-of-type(2) .image-container {
  background-image: url("https://www.w3schools.com/w3css/img_lights.jpg");
}

.card:nth-of-type(3) .image-container {
  background-image: url("https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.card:nth-of-type(4) .image-container {
  background-image: url("https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.card:nth-of-type(5) .image-container {
  background-image: url("https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg");
}

.image-container {
  width: 8em;
  height: 8em;
  position: relative;
  background-size: cover;
  margin-bottom: 2em;
  border-radius: 100%;
  padding: 1em;
  -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
}

.image-container::after {
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  border: solid 3px #5DAC4E;
  border-radius: 100%;
  position: absolute;
  top: calc(-10% - 3px);
  left: calc(-10% - 3px);
}

h2 {
  padding: 1em;
  margin-top: 1em;
  background: #232323;
  text-align: center;
  color: white;
  border-radius: 0.2em;
  display: inline-block;
  transform: translateX(calc((100vw - 100%) / 2));
}

h2 a {
  color: #f5b916;
}

/*fin estilo slider*/

/*Inicio de estilo blog*/

.b1{ margin: 5%}

.b2
{
  font-size: 1.3em;
  line-height: 4vh;
  color: #ffffff;
  margin: 5%;
  text-align: center;
}

/* fin de estilo blog*/


/*inicio estilo footer*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  height: 100%;
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #5DAC4E;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #5DAC4E;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/*fin estilo footer*/
